$icon-color-inactive: #BDC2C5;
$text-color-inactive: #7D8388;
$color-active: #7D45FF;

:host {
    .filter {
        background-color: transparent;
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;

        .custom-select {
            width: 30%;

            ::ng-deep .mat-mdc-form-field-subscript-wrapper,
            .mat-mdc-form-field-bottom-align::before {
                display: none;
            }
        }

        .reset-btn {
            width: 28px;
            height: 28px;
            padding: 0;
            border: none;

            .rotate-icon {
                transition: transform 0.5s ease;
            }
        }

        .export-btn{
            width: 120px;
            height: 56px;
            display: flex;
            align-items: center;
            color: $color-active;
            background-color: transparent;
            border: 1px solid $icon-color-inactive;
            gap: 10px;

            span{
             font-size: 1rem;   
            }
        }

        .reset-btn:hover .rotate-icon {
            transform: rotate(-360deg);
        }
    }
}