:host {
    .icon-style {
        text-align: center;
        margin-top: 10px    ;
        color: red;
    }

    .button-wrap {
        padding-right: 30px;
        justify-content: flex-end;
    }

    .error{
        color: red;
    }

    .solution{
        color: green;
    }

    .dialog-title{
        text-align: center;
    }
}