<!-- Collapse Button -->
<button mat-icon-button class="collapse-button" [ngStyle]="{
          left: collapsed ? '0px' : '205px'
        }" (click)="toggleSidebar()">
  <mat-icon>{{ collapsed ? 'chevron_right' : 'chevron_left' }}</mat-icon>
</button>
<!-- Sidebar Container -->
<mat-sidenav-container class="sidenav-container">
  <!-- Sidebar -->
  <mat-sidenav #sidenav mode="side" [opened]="!collapsed" class="app-sidenav">
    <div class="p-4">
      <h2 *ngIf="!collapsed">Welcome<span *ngIf="user$ | async as user"> {{user.displayName}}</span></h2>
      <ul>
        <li><a mat-button routerLink="/dashboard">Dashboard</a></li>
        <li><a mat-button routerLink="/expenses">Expenses</a></li>
      </ul>
    </div>
  </mat-sidenav>



  <!-- Content -->
  <mat-sidenav-content>
    <app-expense-list></app-expense-list>
  </mat-sidenav-content>
</mat-sidenav-container>