<div class="register-modal">
    <h2 class="title">Sign Up</h2>

    <div [formGroup]="registerForm" class="form">
        <label>Email</label>
        <input placeholder="Email" formControlName="email" />
        @if (getErrorMessage('email')) {
        <div class="error-message">
            {{getErrorMessage('email')}}
        </div>
        }

        <label>Password</label>
        <input placeholder="password" type="password" formControlName="passWord" />
        @if (this.getErrorMessage('passWord')) {
        <div class="error-message">
            {{this.getErrorMessage('passWord')}}
        </div>
        }


        <label>Confirm password</label>
        <input placeholder="confirm password" type="password" formControlName="confirmPassword" />
        @if (this.getErrorMessage('confirmPassword')) {
        <div class="error-message">
            {{this.getErrorMessage('confirmPassword')}}
        </div>
        }
        @if (confirmPasswordField?.touched && checkPassAndConfPass) {
            <div class="error-message">
                Confirm password does not match
            </div>
        }

    </div>


    <div class="btn-group">
        <button class="sign-up-btn">Sign up</button>
        <button (click)="onCancel()" class="cancel-btn ripple-hover">Cancel</button>
    </div>
</div>