@import "../../../app/styles/variables";

.register-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    gap: 18px;

    .title {
        font-size: 2rem;
        margin-bottom: 24px;

    }

    .form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;

        input {
            font-family: "Playfair Display", serif;
            border-radius: 10px;
            height: 50px;
            outline: none;
            padding: 10px;
            font-size: $text-fonr-size;
            border-style: solid;
            border-color: $primary-grey-color;
        }

        .error-message {
            color: red;
            font-size: 0.9em;
            margin-top: 4px;
        }


        input.ng-touched.ng-invalid {
            border-color: red;
        }
    }

    .btn-group {
        display: flex;
        gap: 10px;
        flex-direction: column;
        width: 100%;

        button {
            width: 100%;
            height: auto;
            padding: 15px;
            font-size: 1.1rem;
            border-radius: 10px;
            height: 40px;
            align-items: center;
            justify-content: center;
            display: inline-flex;
        }

        .sign-up-btn {
            color: $primary-white-color;
            background-color: $primary-black-color;
            border-style: solid;
            border-color: $primary-black-color;

            &:hover {
                background-color: $secondary-black-color;
            }
        }

        .cancel-btn {
            background-color: transparent;
            color: $cancel-color-button-text;
            border: 1px solid $cancel-color-border;
            padding: 10px 20px;
            border-radius: 4px;
            cursor: pointer;
            transition: all 0.3s;
        }

        .cancel-btn:hover {
            background-color: $cancel-bg-hover-color;
            color: $cancel-hover-color;
        }

    }
}