:host {
    background-color: #F9f9fc;

    .header-row{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;

        .filter{
            padding-right: 52px;
        }
    }
    
    .report-page {

        .summarize-section {
            display: flex;
            justify-content: space-between;
            padding:30px 40px 40px 40px;

            .total-expense, .num-transactions, .max-expense, .change{
                background-color: #FFF;
                padding: 20px;
                border: 1px solid #dbdddd;
                width: 350px;
                display: flex;
                align-items: center;
                gap: 10px;

                mat-icon{
                    width: 50px;
                    height: 50px;
                    font-size: 2rem;
                }

                .child{

                }
            }
        }
    }
}