$color-active: #7D45FF;

html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
}

:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;

    .create-expense-button {
        margin-top: 5px;
    }

    .button:hover {
        cursor: pointer;
    }

    .expense-list {
        padding: 40px;
        flex: 1 1 auto;

        .no-data {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            font-size: 25px;
            padding-bottom: 40px;
        }
    }

}


app-header,
app-footer {
    flex: 0 0 auto;
    flex-direction: column;
}