$color-active: #7D45FF;

:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 30px;

    .create-expense-button {
        margin-top: 5px;
    }

    .button:hover {
        cursor: pointer;
    }

    .expense-list {
        width: 100%;
    }

}


app-header,
app-footer {
    flex: 0 0 auto;
    flex-direction: column;
}